.containar{
  margin-left: 40%;
  margin-top: 150px;
}

input{
  width: 300px;
  padding-left: 10px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid gray;
   
}
body{
  background-color:#cacee4;
}
.vv button{
  background-color: rgb(83, 129, 214);
  color: white;
  width: 50px;
}
.preloaderr{
  padding-top: 20%;
  padding-left: 50%;
  height: 800px;
}
.vv input{
  height: 50px;
}
.container{
  position: relative;
  bottom: 600px;
}
input:focus{
  outline: none;
}
.vv video{
 width: 100%;
  z-index:-1;
  height: 655px;
  
  
}